.text-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.css-grid-table-header>div,
.css-grid-table-body>div {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

@media screen  and (min-width: 961px) and (max-width: 1049px) {
  .search-memb {
    padding: 0 10px;
  }
  .search-memb input,
  .search-memb select {
    width: 220px;
  }
  .form-group{
    
    justify-content: space-around;
  }
  .row-table {
    margin: 40px 10px
  }
}

@media screen and (min-width: 850px) and (max-width: 960px) {
  .search-memb {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  .search-memb input,
  .search-memb select {
    width: 200px;
  }
  .row-table {
    margin: 40px 10px
  }
  .form-group{
    justify-content: space-around;
  }
}

@media screen and (max-width: 849px) {
  .search-memb {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
  }

  .d-flex>li {
    padding-bottom: 10px;
  }
  .search-memb input,
  .search-memb select {
    width: 260px;
  }

  .search-memb label {
    min-width: 100px;
  }

  .search-memb {
    padding: 0 10px;
  }

  .search-memb .form-group .btn-group {
    margin-left: 100px;
  }
  .row-table {
    margin: 40px 10px
  }

}

@media screen and (max-width: 450px) {
  .search-memb {
    display: flex;
    flex-direction: column;
  }

  .search-memb input,
  .search-memb select {
    width: 210px;

  }
}
