<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="search-memb">
          <h1 class="title">会員名称で会員を検索します。検索条件無しの場合は全て表示されます。</h1>
          <form [formGroup]="searchForm" (ngSubmit)="search();" class="c-form">
            <ul class="d-flex">
              <!-- text box để nhập tìm kiếm ------------------------------------------------------------------------>
              <li class="form-group row">
                <label class="col-form-label">氏名:</label>
                <div class="col-sm">
                  <input id="input-field" type="text" formControlName="employeeName" oninput="this.value = this.value.substring(0, 125);" [maxlength]="125"/>
                </div>
              </li>
              <!-- dropdown department---------------------------------------------------------------------------------->
              <li class="form-group row">
                <label class="col-form-label">グループ:</label>
                <div class="col-sm">
                  <select formControlName="departmentId">
                    <option value="">全て</option>
                    <option class="text-wrap" *ngFor="let de of listDepartment" [value]="de.departmentId"> {{de.departmentName}}</option>
                  </select>
                </div>
              </li>
              <!-- Button search và chuyển sang màn add/edit -->
              <li class="form-group row">
                <div class="btn-group">
                  <button type="submit" class="btn btn-primary btn-sm">検索</button>
                  <button type="button" class="btn btn-secondary btn-sm"  routerLink="/user/add">新規追加</button>
                </div>
              </li>
            </ul>
          </form>
        </div>

        <!-- Thực hiện lỗi khi không có bản ghi nào-------------------------------------->
        <div class="box-err" *ngIf="listEmployee.length===0" style="color: red; margin-top: 40px;">
          <div class="box-err-content"> 検索条件に該当するユーザが見つかりません。 (MSG005)</div>
      </div>
      <!-- Thực hiện sort-------------------------------------------------------->
        <div class="row row-table" *ngIf="listEmployee.length > 0">
          <div class="css-grid-table box-shadow">
            <div class="css-grid-table-header">
              <div>ID</div>
              <div (click)="onSortChange('employee_name')">
                氏名
                {{ordEmployeeName ==  "asc" ? "▲▽" : "▽▲"}}
              </div>
              <div>生年月日</div>
              <div>グループ</div>
              <div>メールアドレス</div>
              <div>電話番号</div>
              <div (click)="onSortChange('certification_name')">
                日本語能力 {{ ordCertificationName ==  "asc" ? "▲▽" : "▽▲"}}
              </div>
              <div (click)="onSortChange('end_date')">
                失効日
                {{ordEndDate  == "asc" ? "▲▽" : "▽▲"}}
              </div>
              <div>点数</div>
            </div>
            <!-- thực hiện hiển thị employee---------------------------------------------------->
            <div class="css-grid-table-body" *ngFor="let e of listEmployee">
              <!-- <div class="" [routerLink]="['/detail', e.employeeId]">{{e.employeeId}}</div> -->
              <!-- <div class=""(click)="onEmployeeClick(e.employeeId)">{{e.employeeId}}</div> -->
              <div [routerLink]="['/detail']" [state]="{ employeeId: e.employeeId }">
                {{ e.employeeId }}
              </div>
              <div class="text-wrap">{{e.employeeName}}</div>
              <div class="text-wrap">{{e.employeeBirthDate | date :'yyyy/MM/dd'}}</div>
              <div class="text-wrap">{{e.departmentName}}</div>
              <div class="text-wrap">{{e.employeeEmail}}</div>
              <div class="text-wrap">{{e.employeeTelephone}}</div>
              <div class="text-wrap">{{e.certificationName}}</div>
              <div class="text-wrap">{{e.endDate  | date :'yyyy/MM/dd'}}</div>
              <div class="text-wrap">{{e.score}}</div>
            </div>

            <!-- Thực hiện paging------------------------------------------------------------->
            <div class="pagin" *ngIf="totalPages > 1">
              <button class="btn btn-sm btn-pre btn-falcon-default" type="button" [disabled]="offset === 1" (click)="goToPage(offset - 1)">
                <svg class="svg-inline--fa fa-chevron-left fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 
                  154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
                </svg>
              </button>
              <a class="btn btn-sm text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset > 1" (click)="goToPage(1)">1</a>
              <a class="btn btn-sm text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset > 4">...</a>
              <a class="btn btn-sm text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset > 2" (click)="goToPage(offset - 1)">{{offset-1}}</a>
              <a class="btn btn-sm btn-out-line-success text-primary btn-falcon-default" style="cursor: pointer; border-color: #38ac23" *ngIf="offset <= totalPages">{{ offset }}</a>
              <a class="btn btn-sm btn-out-line-success text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset + 1 < totalPages" (click)="goToPage(offset + 1)">{{ offset + 1 }}</a>
              <a class="btn btn-sm text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset + 2 < totalPages">...</a>
              <a class="btn btn-sm text-primary btn-falcon-default" style="cursor: pointer" *ngIf="offset !== totalPages" (click)="goToPage(totalPages)">{{ totalPages }}</a>
              <button class="btn btn-sm btn-next btn-falcon-default" type="button" [disabled]="offset === totalPages" (click)="goToPage(offset + 1)">
                <svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505
                  256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>

